@use "sass:color" as *;

$base-color-1: #845ec2;
$base-color-2: #4d8076;

$font-principal-1: "Times New Roman", Times, serif;
$font-secondary-1: monospace;

$font-principal-2: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

$font-secondary-2: fantasy;

@mixin flexbox {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid rgb(148, 137, 137);
  padding: 20px;
  width: 150px;
  height: 100px;
}

p {
  height: 40px;
}

@function set-color($base-color, $type, $multiplier) {
  @if $type == "important" {
    @return scale($base-color, $lightness: -$multiplier);
  } @else if $type == "warning" {
    @return scale($base-color, $lightness: $multiplier);
  }
}

@mixin generate-variations($base-color, $type, $multiplier) {
  $new-color: set-color($base-color, $type, $multiplier);
  background-color: $new-color;
}
