@use "base" as *;

body {
  @include flexbox;
}

.box {
  @extend .box;
  background-color: $base-color-2;
  border-radius: 20px;
}

.important {
  @include generate-variations($base-color-2, "important", 50%);
}

.warning {
  @include generate-variations($base-color-2, "warning", 50%);
}

.principal {
  font-family: $font-principal-2;
}

.secondary {
  font-family: $font-secondary-2;
}

.shadow {
  background-color: white;
  box-shadow: 15px 10px 20px;
}
