@use "base" as *;

body {
  @include flexbox;
}

.box {
  @extend .box;
  background-color: $base-color-1;
  border-radius: 5px;
}

.important {
  @include generate-variations($base-color-1, "important", 50%);
}

.warning {
  @include generate-variations($base-color-1, "warning", 50%);
}

.principal {
  font-family: $font-principal-1;
}

.secondary {
  font-family: $font-secondary-1;
}

.shadow {
  background-color: white;
  box-shadow: -15px 10px 20px;
}
