body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.layout-app-container {
  display: flex;
}

.container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 50px;
}

img {
  width: 300px;
}

.cart {
  width: 50%;
}

.img-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pic-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-img {
  width: 50px;
}
