@use "../../../mixins" as *;

// HERO

.hero {
  .hero-title,
  .hero-subtitle {
    margin-left: 50px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 1s ease forwards;
  }

  .hero-title {
    font-size: 3rem;
    animation-delay: 0.2s;
  }

  .hero-subtitle {
    font-size: 1.2rem;
    font-weight: lighter;
    animation-delay: 0.6s;
  }
}

// FEATURES

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;

  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-color: #f0f0f0;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.12);
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    transition: transform 0.4s ease, background 0.4s ease, opacity 1s ease;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInScale 1s ease-out forwards;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }
    &:nth-child(2) {
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    .feature-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    p {
      font-size: 1rem;
      font-weight: lighter;

      text-align: center;
    }
  }
}

button a {
  text-decoration: none;
  color: white;
}

.cta-button {
  @include button-pulse;
}

@media (max-width: 864px) {
  .features {
    .feature {
      width: 120px;
      height: 120px;

      .feature-title {
        h3 {
          font-size: 1rem;
        }
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 680px) {
  .hero {
    .hero-title,
    .hero-subtitle {
      margin-left: 0;
    }
  }

  .features {
    flex-direction: column;
    gap: 20px;
  }
}
