@use "mixins" as *;
@use "@angular/material" as mat;

:root {
  --color-primary-dark: #2e2e2e;
  --color-text-light: white;
  --color-text-muted: #cccccc;
  --color-accent: #e0829d;
  --color-hover-light: rgba(255, 255, 255, 0.08);
  --color-error: red;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Header styles

.header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
  padding: 2rem;
  font-size: 1.2rem;
  position: relative;

  .logo {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);

    img {
      margin-left: 1rem;
      width: 170px;
    }
  }
}

// Menu styles

.menu-desktop {
  display: flex;
  gap: 2rem;
}

.menu-desktop a {
  color: var(--color-text-muted);
  font-size: 1.3rem;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
  cursor: pointer;

  &.active {
    color: var(--color-text-light);
  }

  &:hover {
    color: var(--color-text-light);
  }
}

.mat-menu {
  @include mat.menu-overrides(
    (
      item-label-text-color: var(--color-text-light),
      item-icon-color: var(--color-accent),
      container-color: var(--color-primary-dark),
      container-shape: 16px,
      item-hover-state-layer-color: var(--color-hover-light),
      item-label-text-size: 1.1rem,
    )
  );
}

// Button styles

.cta {
  @include button-container;

  .cta-button {
    @include button-base;
  }
}

// Animations

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes idlePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 860px) {
  .header {
    justify-content: flex-end;
  }
  .menu-desktop {
    display: none;
  }

  .menu-smaller {
    display: block;
  }
}
