.hero {
  .hero-title {
    margin-left: 50px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 1s ease forwards;
  }

  .hero-title {
    font-size: 3rem;
    animation-delay: 0.2s;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 5rem;
  justify-items: center;
  padding: 1rem 2rem;
}

.memory-card-container {
  position: relative;
  width: fit-content;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInScale 0.5s ease-out forwards;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.delete-button:hover {
  opacity: 1;
}

@media (max-width: 680px) {
  .hero {
    .hero-title,
    .hero-subtitle {
      margin-left: 0;
    }
  }

  .gallery-grid {
    padding: 1rem 0;
  }
}
