:root {
  --bg-color: #edede9;
  --container-bg-color: #eae0d5;
  --primary-color: #22223b;
  --secondary-color: #9a8c98;
  --text-color: #50484f;
  --button-color: #4a4e69;
  --card-border-color: #c9ada7;
}

body {
  background: var(--bg-color);
  padding: 0px;
  margin: 0px;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 56px;
  text-align: center;
  color: var(--primary-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  justify-items: center;
  gap: 50px;
  margin: 30px;
  padding-bottom: 50px;
}

.container {
  border: 2px solid var(--card-border-color);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  background-color: var(--container-bg-color);
  width: 270px;
  height: 550px;
}

.title,
.text,
.date,
button {
  margin: 0px 15px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.title {
  color: var(--primary-color);
  font-weight: lighter;
  align-self: center;
}

p {
  font-size: 14px;
}

.text {
  line-height: 1.4;
  align-self: center;
  color: var(--text-color);
}
.date {
  color: var(--primary-color);
  justify-self: end;
  align-self: center;
}

.white {
  color: var(--secondary-color);
}

button {
  width: 150px;
  justify-self: center;
  cursor: pointer;
  color: var(--container-bg-color);
  background-color: var(--button-color);
  margin-bottom: 15px;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color);
}

@media (max-width: 1076px) {
  .grid-container {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 796px) {
  .grid-container {
    grid-template-columns: 300px;
  }
}
