<div class="container">
  <form class="login-form">
    <h1>Login</h1>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Username</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" />
    </mat-form-field>
    <div class="cta">
      <button mat-fab extended type="submit" class="cta-button">Enter</button>
    </div>
  </form>
</div>
