.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 1s ease forwards;
}

.login-form {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInScale 1s ease-out forwards;
  margin-top: 70px;
  border-radius: 1rem;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.12);

  .form-field {
    width: 300px;
    margin: 0;
    border-radius: 10px;
    border: none;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 1s ease forwards;
    animation-delay: 0.2s;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInScale 0.5s ease-out forwards;
  animation-delay: 0.3s;

  .cta-button {
    width: 300px;
  }
}
