@use "sass:color" as *;

body {
  background-color: #121212;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

$color-bases: (
  "purple": #845ec2,
  "green": #4d8076,
  "red": #b15969,
);

@each $base-name, $base-color in $color-bases {
  .container-#{$base-name} {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;

    @for $i from 1 through 4 {
      .darken-#{$i} {
        background-color: scale($base-color, $lightness: -($i * 15%));
      }
    }

    .base-color {
      background-color: $base-color;
    }

    @for $i from 1 through 4 {
      .lighten-#{$i} {
        background-color: scale($base-color, $lightness: $i * 15%);
      }
    }
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: #00c9a7;
  padding: 5px;
  border-radius: 5px;
}

.box.base-color {
  width: 150px;
  color: white;
}
